{%extends "info/base.html"%}
{% load static%}
{% load i18n %}

{%block content%}

<div class="container">
	<br />
	<br /> 
	<br /> 
	<br /> 
 

      <div
        class="p-5"
        style="width: 70%; margin: auto; border: 0px solid black"
      >
      	<h4 class="text-center">S'inscrire!</h4>
      	<br />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae
          et, delectus autem possimus est repellat doloribus, odit, quam
          voluptates suscipit architecto rem numquam! Amet repudiandae
          voluptates consequatur, nulla excepturi illo.
        </p>

<!--         <div
          class="mx-auto text-center"
          style="width: 200px; background-color: #eee"
        >
 -->
      </div>
</div>


<div class="col-md-5 mx-auto border border-light">
  <figure class="figure">
    <img src="{% static '/images/signup.jpg'%}" class="figure-img img-fluid rounded" alt="tarif image">
    <figcaption class="figure-caption">A caption for the above image.</figcaption>
  </figure>
</div>

<br />

<div class="col-md-5 mx-auto border border-light">
	<figure class="figure">
	  <img src="{% static '/images/tarif.jpg'%}" class="figure-img img-fluid rounded" alt="tarif image">
	  <figcaption class="figure-caption">A caption for the above image.</figcaption>
	</figure>
</div>

{%endblock content%}